# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
secret.txt
ecolog-shiny.pem
ecolog-shiny.ppk
ESA_Shiny.Rproj
